<div class="container-fluid p-0">
    <app-search class="search-home"></app-search>
    <img class="img-header"  src="../../../../assets/images/lapin.jpg" alt="">
    <div class="svg">
        <svg data-name="Cta layer" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 217" preserveAspectRatio="xMaxYMax meet" style="width: 100vw; display: block;"><path d="M0,601a1849.2,1849.2,0,0,1,370-47c246.77-6.15,360,41.14,613,38,95.54-1.19,226.52-9.76,383-42q-.26,108.75-.5,217.5H-.5Z" fill="#ffffff" transform="translate(0 -550)"></path></svg>
    </div>
    <div class="container d-flex justify-content-between">
        <h2>Vegan Food Near Me</h2>
        <button class="btn">View all <fa-icon [icon]="faAngleRight"></fa-icon></button>
    </div>
</div>
